<form *ngIf="volunteerActivity" (ngSubmit)="onSubmit(formGroup)" [formGroup]="formGroup" class="container-sm">
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label text-right">名称<code>*</code></label>
    <div class="col-sm-10">
      <input [formControlName]="formKeys.name" type="text" class="form-control" name="name" id="name">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label text-right">结束日期<code>*</code></label>
    <div class="col-sm-10">
      <yz-date [formControlName]="formKeys.endDate"></yz-date>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label text-right">联系人<code>*</code></label>
    <div class="col-sm-10">
      <input [formControlName]="formKeys.contact" type="text" class="form-control" name="contact" id="contact">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label text-right">发起组织<code>*</code></label>
    <div class="col-sm-10">
      <input [formControlName]="formKeys.initiator" type="text" class="form-control" name="initiator" id="initiator">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label text-right">地点<code>*</code></label>
    <div class="col-sm-10">
      <input [formControlName]="formKeys.place" type="text" class="form-control" name="place" id="place">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label text-right">计划招募人数<code>*</code></label>
    <div class="col-sm-10">
      <input [formControlName]="formKeys.numberOfPlanned" type="number" class="form-control" name="numberOfPlanned"
             id="number">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label text-right">宣传图片</label>
    <div class="col-sm-8">
      <img alt="alt" [src]="volunteerActivity.image | imageUrl" class="img-fluid" style="max-height: 200px" (click)="showUploader=true">
    </div>
    <div class="col-sm-2">
      <yz-uploader *ngIf="showUploader" (beUpload)="onUpload($event)"
                   accept="image/gif, image/jpeg, image/png"
                   (beClose)="onUploadCancel()"></yz-uploader>
      <button (click)="showUploader=true" type="button" class="btn btn-sm btn-primary"><i class="fa fa-upload"></i>上传
      </button>

    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label text-right">活动详情<code>*</code></label>
    <div class="col-sm-10">
      <app-editor [formControlName]="formKeys.detail" [height]="300"></app-editor>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-10 offset-2">
      <button [disabled]="formGroup.invalid" class="btn btn-primary" type="submit"><i class="far fa-save"></i>保存
      </button>
    </div>
  </div>
</form>
