
<div class="pe-d-main">
  <div class="row title p-5">
    <div class="col-12 text-center">
      <h1>一人一档</h1>
    </div>
  </div>
  <div class="row content pt-3">
    <div class="col-2 left">
      <h3>人员详情</h3>
      <img class="img-responsive img-rounded" src="/assets/gentelella/img.jpg">
      <ul>
        <li><label class="p-label">姓名：</label><label class="text">张三</label></li>
        <li><label class="p-label">性别：</label><label class="text">男</label></li>
        <li><label class="p-label">年龄：</label><label class="text">40</label></li>
        <li><label class="p-label">身份证号：</label><label class="text">130223198809091232</label></li>
        <li><label class="p-label">民族：</label><label class="text">汉族</label></li>
        <li><label class="p-label">文化程度：</label><label class="text">大学本科</label></li>
        <li><label class="p-label">工作单位：</label><label class="text">尚义县人力资源服务有限公司</label></li>
        <li><label class="p-label">政治面貌：</label><label class="text">中共党员</label></li>
        <li><label class="p-label">婚姻状况：</label><label class="text">已婚</label></li>
        <li><label class="p-label">现住址：</label><label class="text">河北省张家口市惠民苑 C 区1号楼1单元302</label></li>
        <li><label class="p-label">车辆信息：</label><label class="text">大众 冀G88888<br>本田 冀G888888</label></li>
        <li><label class="p-label">电话：</label><label class="text">13888888888</label></li>
      </ul>
    </div>
    <div class="col-7 middle">
      <div class="row">
        <div class="col-2 offset-4 text-center">
          <div class="property">
            <div class="pe-d-icon">
              <i class="far fa-id-card"></i>
              <div class="text"> 事件</div>
            </div>
          </div>
        </div>
        <div class="col-2 text-center">
          <div class="property">
            <div class="pe-d-icon">
              <i class="fas fa-id-badge"></i>
              <div class="text"> 人脸抓拍</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2 offset-1">
          <div class="property">
            <div class="pe-d-icon">
              <i class="fas fa-star"></i>
              <div class="text"> 敏感信息</div>
            </div>
          </div>
        </div>
        <div class="col-2 offset-6">
          <div class="property">
            <div class="pe-d-icon">
              <i class="fas fa-bell"></i>
              <div class="text"> 告警信息</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-2 offset-1 text-center">
          <div class="property">
          </div>
        </div>
        <div class="col-6 center-img text-center">
          <img class="img-responsive img-circle" src="/assets/gentelella/img.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-2 offset-1">
          <div class="property">
            <div class="pe-d-icon">
              <i class="fas fa-home"></i>
              <div class="text"> 住房信息</div>
            </div>
          </div>
        </div>
        <div class="col-2 offset-6">
          <div class="property">
            <div class="pe-d-icon">
              <i class="fas fa-building"></i>
              <div class="text"> 单位信息</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2 offset-4 text-center">
          <div class="property">
            <div class="pe-d-icon">
              <i class="fas fa-car"></i>
              <div class="text"> 车辆信息</div>
            </div>
          </div>
        </div>
        <div class="col-2 text-center">
          <div class="property">
            <div class="pe-d-icon">
              <i class="fas fa-clipboard"></i>
              <div class="text"> 门禁记录</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 right">
      <h3>住房信息</h3>
      <p>南壕堑镇惠民苑 C 区1号楼1单元302</p>
      <p>南壕堑镇惠民苑 A 区1号楼1单元402</p>
      <h3>社会关系</h3>
      <div class="card row">
        <img class="img-responsive img-rounded" src="/assets/gentelella/img.jpg">
        <ul>
          <li>姓名：李四</li>
          <li>性别：女</li>
          <li>证件号码：130223198809091232</li>
          <li>电话号码: 13912312312</li>
          <li>户主关系：妻子</li>
        </ul>
      </div>
      <div class="card row">
        <img class="img-responsive img-rounded" src="/assets/gentelella/img.jpg">
        <ul>
          <li>姓名：张五</li>
          <li>性别：女</li>
          <li>证件号码：130223198809091232</li>
          <li>电话号码: 13912312312</li>
          <li>户主关系：兄妹</li>
        </ul>
      </div>
      <div class="card row">
        <img class="img-responsive img-rounded" src="/assets/gentelella/img.jpg">
        <ul>
          <li>姓名：张六</li>
          <li>性别：男</li>
          <li>证件号码：130223198809091232</li>
          <li>电话号码: 13912312312</li>
          <li>户主关系：兄弟</li>
        </ul>
      </div>
    </div>
  </div>
</div>
