<form class="container-sm" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">
  <div class="mb-3 row">
    <label for="name" class="col-sm-2 col-form-label text-right">名称<code>*</code></label>
    <div class="col-sm-10">
      <input type="text" id="name" class="form-control" [formControlName]="formKeys.name" appValidatorClass>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="weight" class="col-sm-2 col-form-label text-right">权重<code>*</code></label>
    <div class="col-sm-10">
      <input type="number" id="weight" class="form-control" [formControlName]="formKeys.weight" appValidatorClass>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label text-right">是否系统内置角色</label>
    <div class="col-sm-10">
      <span class="form-control-plaintext">是</span>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label text-right">对应值</label>
    <div class="col-sm-10">
      <input type="text"
             [formControlName]="formKeys.value"
             appValidatorClass
             class="form-control">
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-sm-10 offset-2">
      <button class="btn btn-primary" type="submit" [disabled]="formGroup.invalid"><i class="fas fa-save"></i>保存
      </button>
    </div>
  </div>
</form>
