._remove_house {
  margin-left: 0.5em;
  cursor: pointer;
}

.old {
  margin-top: 24px;
}

.arrow {
  width: 30px;
  margin-top: 40px;
  text-align: center;
}

.spacing {
  margin-right: 15px;
}

.spacing-left {
  margin-left: 20px;
}

.proportion {
  width: 40%;
  float: left;
}

.line {
  width: 10%;
}
