<div class="row">
  <div class="col-2">
    <button class="btn btn-outline-primary" (click)="onClickClearYesterdayExcelFile()"><i></i>清除缓存文件</button>
  </div>
  <div class="col-2">
    <button class="btn btn-primary" (click)="onUpdateEnterData()"><i></i>更新录入数据</button>
  </div>
  <div class="col-2">
    <button class="btn btn-warning"  (click)="onReGenerateDistrictData()"><i></i>更新区域数据</button>
  </div>
  <div class="col-2">
    <button class="btn btn-outline-warning" (click)="onReGenerateUserData()"><i></i>更新录入数据</button>
  </div>
</div>
