<div class="row mb-2">
  <div class="col-12 text-right">
    <a class="btn btn-primary" ><i class="fas fa-plus"></i>新增</a>
  </div>
</div>
<!--<yz-size  [size]="pageData.size" (changeSize)="onSizeChange($event)"></yz-size>-->

<table class="table table-striped mt-2">
  <thead>
  <tr class="table-primary">
    <th>序号</th>
    <th>姓名</th>
    <th>性别</th>
    <th>年龄</th>
    <th>联系电话</th>
    <th>民族</th>
    <th>工作单位</th>
    <th>住址</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>张三</td>
    <td>男</td>
    <td>45</td>
    <td>139****1111<i class="fa fa-eye text-success"></i></td>
    <td>汉</td>
    <td>南文县</td>
    <td>住址组件</td>
    <span class="btn btn-outline-primary btn-sm">
        <i class="fas fa-eye"></i>详情
      </span>
    <span class="btn btn-outline-primary btn-sm">
        <i class="fas fa-pen"></i>编辑
      </span>
    <span class="btn btn-outline-danger btn-sm">
        <i class="fas fa-trash-alt"></i>移除
      </span>
  </tr>
  <tr>
    <td>2</td>
    <td>李四</td>
    <td>男</td>
    <td>45</td>
    <td>139****1111<i class="fa fa-eye text-success"></i></td>
    <td>汉</td>
    <td>南文县</td>
    <td>住址组件</td>
    <span class="btn btn-outline-primary btn-sm">
        <i class="fas fa-eye"></i>详情
      </span>
    <span class="btn btn-outline-primary btn-sm">
        <i class="fas fa-pen"></i>编辑
      </span>
    <span class="btn btn-outline-danger btn-sm">
        <i class="fas fa-trash-alt"></i>移除
      </span>
  </tr>
  <tr>
    <td>3</td>
    <td>王五</td>
    <td>男</td>
    <td>45</td>
    <td>139****1111<i class="fa fa-eye text-success"></i></td>
    <td>汉</td>
    <td>南文县</td>
    <td>住址组件</td>
    <span class="btn btn-outline-primary btn-sm">
        <i class="fas fa-eye"></i>详情
      </span>
    <span class="btn btn-outline-primary btn-sm">
        <i class="fas fa-pen"></i>编辑
      </span>
    <span class="btn btn-outline-danger btn-sm">
        <i class="fas fa-trash-alt"></i>移除
      </span>
  </tr>
  </tbody>
</table>
<!--<yz-page [page]="pageData.number"-->
<!--         [size]="pageData.size"-->
<!--         [totalElements]="pageData.totalElements"-->
<!--         (changePage)="onPageChange($event)"></yz-page>-->
