<ul>
  <li>
    <span class="hex">
      <span class="hexIn v-auto">
        <span class="text">
          <span>低保人员</span>
          <br>
          <span class="count">113</span>
        </span>
      </span>
    </span>
  </li>
  <li>
    <span class="hex">
      <span class="hexIn v-auto">
        <span class="text">
          <span>共产党员</span>
          <br>
          <span class="count">118</span>
        </span>
      </span>
    </span>
  </li>
  <li>
    <span class="hex">
      <span class="hexIn v-auto">
        <span class="text">
          <span>孤寡人员</span>
          <br>
          <span class="count">119</span>
        </span>
      </span>
    </span>
  </li>
  <li>
    <span class="hex">
      <span class="hexIn v-auto">
        <span class="text">
          <span>留守儿童</span>
          <br>
          <span class="count">120</span>
        </span>
      </span>
    </span>
  </li>
  <li>
    <span class="hex">
      <span class="hexIn v-auto">
        <span class="text">
          <span>退伍军人</span>
          <br>
          <span class="count">128</span>
        </span>
      </span>
    </span>
  </li>
  <li>
    <span class="hex">
      <span class="hexIn v-auto">
        <span class="text">
          <span>空巢老人</span>
          <br>
          <span class="count">130</span>
        </span>
      </span>
    </span>
  </li>
  <li>
    <span class="hex">
      <span class="hexIn v-auto">
        <span class="text">
          <span>等待就业</span>
          <br>
          <span class="count">123</span>
        </span>
      </span>
    </span>
  </li>
</ul>
