<div>
  <table class="table table-borderless table-striped">
    <tbody>
    <tr>
      <td rowspan="4">
<!--        <i class="fas fa-user-circle fa-8x"></i>-->
        <img class="text-center" src="/assets/gentelella/user.jpg" style="width: 120px; height: 120px">
      </td>
      <td>姓名：张三</td>
      <td>性别：男</td>
      <td class="text-center">
        <a  href="#">查看一人一档</a>
      </td>
    </tr>
    <tr>
      <td>年龄：40</td>
      <td>身份证号：101110198108010010</td>
      <td rowspan="3">
        <img class="text-center" src="/assets/gentelella/emblem.png" style="width: 80px; height: 80px">
    </tr>
    <tr>
      <td>民族：汉族</td>
      <td>电话：18522223333</td>
    </tr>
    <tr>
      <td>文化程度：大学本科</td>
      <td>现住地址：河北省张家口市惠民苑C区1号楼1单元302</td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <table class="table table-bordered table-striped">
    <tbody class="text-center">
    <tr>
      <td>户编号</td>
      <td>01</td>
      <td>政治面貌</td>
      <td>中共党员</td>
    </tr>
    <tr>
      <td>工作单位</td>
      <td>尚义县人力资源服务有限公司</td>
      <td>宗教信仰</td>
      <td>无</td>
    </tr>
    <tr>
      <td>婚姻状况</td>
      <td>已婚</td>
      <td>健康状况</td>
      <td>良好</td>
    </tr>
    <tr>
      <td>特长</td>
      <td>无</td>
      <td>是否低保</td>
      <td>否</td>
    </tr>
    <tr>
      <td>是否医保</td>
      <td>是</td>
      <td>是否养老保险</td>
      <td>是</td>
    </tr>
    <tr>
      <td>是否高龄补贴</td>
      <td>否</td>
      <td>是否空巢</td>
      <td>否</td>
    </tr>
    <tr>
      <td>是否孤寡</td>
      <td>否</td>
      <td>是否留守儿童</td>
      <td>否</td>
    </tr>
    <tr>
      <td>就业情况跟</td>
      <td>在职</td>
      <td>求职意向</td>
      <td>无</td>
    </tr>
    <tr>
      <td>务工地点</td>
      <td>无</td>
      <td>备注</td>
      <td>无</td>
    </tr>
    <tr>
      <td>是否在校生</td>
      <td>是</td>
    </tr>
    <tr>
        <td>学校名称</td>
        <td>安宁街小学</td>
        <td>学校地址</td>
        <td>尚义县河沿街7号</td>
    </tr>
    <tr>
      <td>是否有慢性病</td>
      <td>是</td>
    </tr>
    <tr>
      <td>疾病描述</td>
      <td>头疼、头晕、头重</td>
    </tr>
    <tr>
      <td>是否流动人口</td>
      <td>是</td>
    </tr>
    <tr>
      <td>流出/流入时间</td>
      <td>2010-05-01</td>
      <td>流出/流入地址</td>
      <td>尚义县富民苑小区</td>
    <tr>
    <tr>
      <td>是否复转军人</td>
      <td>是</td>
    </tr> <tr>
      <td>复转军人类型</td>
      <td>XXXX</td>
    </tr>
    <tr>
      <td>社会综治情况</td>
      <td>无</td>
    </tr>
    <tr>
      <td>信访</td>
      <td>无</td>
      <td>参加邪教组织</td>
      <td>无</td>
    <tr>
      <td>矫正人员</td>
      <td>张三</td>
    </tr>
    <tr>
    <tr>
      <td>是否本户籍地</td>
      <td>否</td>
    </tr> <tr>
      <td>户籍所在地</td>
      <td>天津市河西区</td>
    </tbody>
  </table>
    <div class="form-group col-md-12 text-right">
      <button type="button" class="btn btn-info" >
        <i class="fas fa-user-cog"></i>设置网格员
      </button>
      <button type="button" class="btn btn-info">
        <i class="fas fa-eye"></i>查看居住情况
      </button>
    </div>
</div>
