<div class="container-fluid content">
  <div class="container">
    <app-header></app-header>
    <div class="row">
      <div class="col">
        <div class="big-data-header-card height-2">
          <div class="title"><i class="fas fa-object-group"></i>社区党建</div>
          <a class="item" href="#">
            <h3><i class="fas fa-sitemap"></i></h3>
            <h5>组织机构</h5>
          </a>
          <div class="item">
            <h3><i class="fas fa-hands-helping"></i></h3>
            <h5>党建活动</h5>
          </div>
          <div class="item">
            <h3><i class="fas fa-archive"></i></h3>
            <h5>党务管理</h5>
          </div>
          <div class="item">
            <h3><i class="fab fa-leanpub"></i></h3>
            <h5>学习园地</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="big-data-header-card height-2">
          <div class="title"><i class="fas fa-landmark"></i>社区管理</div>
          <a class="item" href="/personnel">
            <h3><i class="fas fa-users"></i></h3>
            <h5>人员管理</h5>
          </a>
          <a class="item" href="/house">
            <h3><i class="fas fa-building"></i></h3>
            <h5>房屋管理</h5>
          </a>
          <a class="item" href="/vehicle">
            <h3><i class="fas fa-car"></i></h3>
            <h5>车辆管理</h5>
          </a>
          <div class="item">
            <h3><i class="fas fa-fire-extinguisher"></i></h3>
            <h5>基础设施</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="big-data-header-card height-2">
          <div class="title"><i class="fas fa-blender-phone"></i>社区服务</div>
          <a class="item" href="/property">
            <h3><i class="fas fa-warehouse"></i></h3>
            <h5>物业服务</h5>
          </a>
          <div class="item">
            <h3><i class="fas fa-id-card-alt"></i></h3>
            <h5>就业服务</h5>
          </div>

          <div class="item">
            <h3><i class="fas fa-hand-holding-heart"></i></h3>
            <h5>志愿者服务</h5>
          </div>
          <div class="item">
            <h3><i class="fas fa-american-sign-language-interpreting"></i></h3>
            <h5>社区活动</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="big-data-header-card height-1">
          <div class="title"><i class="fas fa-laptop-house"></i>社区概况</div>
          <a class="item item-w15" href="/community">
            <h3><i class="fas fa-city"></i></h3>
            <h5>惠民苑</h5>
          </a>
          <div class="item item-w15" href="/community">
            <h3><i class="fas fa-city"></i></h3>
            <h5>
              马莲小镇
            </h5>
          </div>
          <div class="item item-w15" href="/community">
            <h3><i class="fas fa-city"></i></h3>
            <h5>
              天福苑
            </h5>
          </div>
          <div class="item item-w15" href="/community">
            <h3><i class="fas fa-city"></i></h3>
            <h5>
              平安街
            </h5>
          </div>
          <div class="item item-w15" href="/community">
            <h3><i class="fas fa-city"></i></h3>
            <h5>
              河东街
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
