<div style="background-color: white" [formGroup]="queryForm">
  <form>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label>名称</label>
        <input type="input" [formControlName]="keys.name" class="form-control" placeholder="请输入要查询的名称">
      </div>
      <div class="form-group col-md-3 text-left align-self-end search">
        <button type="submit" class="btn btn-info" (click)="onSubmit(queryForm)">
          <i class="fas fa-search"></i> 查询
        </button>
      </div>
    </div>
  </form>
  <div class="row mb-2">
    <div class="col-10 text-right">
      <a class="btn btn-primary" routerLink="add"><i class="fas fa-plus"></i>新增</a>
    </div>
  </div>
  <yz-size (changeSize)="onSizeChange($event)" [size]="pageData.size"></yz-size>
  <table class="table table-striped mt-2">
    <thead>
    <tr class="table-primary">
      <th>序号</th>
      <th>名称</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let vehicleBrand of pageData.content; index as i">
      <td>{{i + 1}}</td>
      <td>{{vehicleBrand.name}}</td>
      <td>
        <span (click)="onEdit(vehicleBrand)" class="btn btn-outline-primary btn-sm">
        <i class="fas fa-pen"></i>编辑
      </span>
        <span (click)="onDelete(vehicleBrand)" class="btn btn-sm btn-outline-danger">
        <i class="far fa-trash-alt"></i>删除
        </span>
      </td>
    </tr>
    </tbody>
  </table>
  <yz-page (changePage)="onPageChange($event)" *ngIf="pageData.content"
           [page]="pageData.number"
           [size]="pageData.size"
           [totalElements]="pageData.totalElements"></yz-page>
  <yz-modal *ngIf="showBatchEdit">
    <div class="container-md p-3">
      <app-edit [vehicleBrand]="editVehicleBrand"
                (beSubmit)="onBatchEditSubmit($event)"
                (beClose)="onBatchEditClose()"></app-edit>
    </div>
  </yz-modal>
</div>
