<form class="container-sm" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label text-right" for="name">名称<code>*</code></label>
    <div class="col-sm-10">
      <input type="text" [formControlName]="formKeys.name" appValidatorClass class="form-control" name="name" id="name">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label text-right" for="name">拼音<code>*</code></label>
    <div class="col-sm-10">
      <input type="text" [formControlName]="formKeys.pinyin" appValidatorClass class="form-control" name="pinyin" id="pinyin">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label text-right" for="name">乡镇<code>*</code></label>
    <div class="col-sm-10">
      <app-town-select [formControlName]="formKeys.townId"></app-town-select>
      <small *ngIf="formGroup.get(formKeys.townId).invalid" class="text-danger">请选择一个乡镇</small>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label  text-right" for="pinyin">GEOJSON地图</label>
    <div class="col-sm-10">
      <app-uploader accept=".json" [formControlName]="formKeys.geoJson"></app-uploader>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-sm-10 offset-2">
      <button class="btn btn-primary" type="submit" [disabled]="formGroup.invalid"><i class="far fa-save"></i>保存
      </button>
    </div>
  </div>
</form>
