<div class="container">
  <div class="row p-2">
    <div class="col-md-2 text-right">
      <label>姓名:</label>
    </div>
    <div class="col text-left">
      <label>张三</label>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-md-2 text-right">
      <label>性别:</label>
    </div>
    <div class="col text-left">
      <label>男</label>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-md-2 text-right">
      <label>出生日期:</label>
    </div>
    <div class="col text-left">
      <label>1996-09-01</label>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-md-2 text-right">
      <label>年龄:</label>
    </div>
    <div class="col text-left">
      <label>25</label>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-md-2 text-right">
      <label>家庭住址:</label>
    </div>
    <div class="col text-left">
      <label>惠民苑社区富民苑小区8号楼2单元301</label>
    </div>
  </div>
  <div class="row p-2">
    <div class="col text-center">
      <button class="btn btn-primary" type="button">
        <i class="fas fa-angle-left"></i>返回
      </button>
    </div>
  </div>
</div>
