.ion-success {
  color: #428000;
  font-size: 80px;
}
.ion-fail {
  color: #ff0015;
  font-size: 80px;
}

.vertical-align-content > * {
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
}
