.carousel {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 0;
}

.carousel-inner {
  height: 100%;
}

.carousel-inner .item {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 25%;
}

.image0 {
  background-color: #404B8D;
  background-image: url('/assets/images/real_picture_0.jpeg');
}

.image1 {
  background-color: #404B8D;
  background-image: url('/assets/images/real_picture_1.jpeg');
}


.image2 {
  background-color: #DC010E;
  background-image: url('/assets/images/real_picture_2.jpg');
}
