<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>我的志愿者活动</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-segment value="noStatrt">
        <ion-segment-button value="noStatrt">
          <ion-label>未进行</ion-label>
        </ion-segment-button>
        <ion-segment-button value="onGoing">
          <ion-label>进行中</ion-label>
        </ion-segment-button>
        <ion-segment-button value="finish">
          <ion-label>已完成</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>党支部爱心助老活动</h2>
          <h3>2021-11-21~2021-11-30</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>垃圾分类志愿环保活动</h2>
          <h3>2021-11-29~2021-11-30</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>留守儿童爱心午餐活动</h2>
          <h3>2021-11-21~2021-12-30</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>社区街道垃圾清理活动</h2>
          <h3>2021-11-01~2021-12-01</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-row>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</ion-app>
